extends layout

block content
  - var lines = line;
  h1 Search Results
  div(class="container-fluid")
        each value,index in lines
          div(class="row",style="cursor:pointer",onclick=`buy(${index+1})`)
             div(class="col-lg-2 col-4 col-sm-2") #{value.line_type} 
             div(class="col-lg-2 col-4 col-sm-2") #{value.line_color}
             div(class="col-lg-2 col-4 col-sm-2") #{value.line_thickness}
  
  script. 
       function buy(rowNo){
         alert('You purchased item' + rowNo);
       }
